# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Refactored code
ignored_files = [
    "/shelf/",
    "/workspace.xml",
    "/httpRequests/",
    "/dataSources/",
    "/dataSources.local.xml"
]